<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>controller.servlet.Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>controller.servlet.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerarchServlet</servlet-name>
        <servlet-class>controller.servlet.SerarchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherPost</servlet-name>
        <servlet-class>controller.servlet.TeacherPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPost</servlet-name>
        <servlet-class>controller.servlet.ViewPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerarchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherPost</servlet-name>
        <url-pattern>/teacher-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPost</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
